<% if @studentinfo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@studentinfo.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @studentinfo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table border=0.5 >
<tr> <td> <%= f.label :name %> </td>
	<td>  <%= f.text_field :name %></td>
</tr>
<tr> <td> <%= f.label :father_name, "Father's Name"%> </td>
	<td>  <%= f.text_field :father_name %></td>
</tr>
<tr> <td> <%= f.label :sex %> </td>
	<td>  <%= f.text_field :sex %></td>
</tr>
<tr> <td> <%= f.label :address %> </td>
	<td>  <%= f.text_area :address %></td>
</tr>
<tr> <td> <%= f.label :email_id %></td>
	<td>  <%= f.text_field :email_id %></td>
</tr>
<tr> <td> <%= f.label :contact_no %> </td>
	<td>  <%= f.text_field :contact_no %></td>
</tr>
</table>
<h2> <%= f.submit :SUBMIT %> </h2>
