<h1>Edit the Student Informations Details</h1>
<%= form_for @studentinfo, url: student_information_path(@studentinfo.id), method: :patch do |f| %>
 
  <%= render :partial => 'form', locals: {:f => f} %>
 
<% end %>
 
<%= link_to 'Back', student_informations_path %>

