<h1>List of Students Informations</h1>

<table border=0.5 >
	<tr>
		<th>Name </th>
		<th>Father's Name</th>
		<th>Sex </th>
		<th>Address </th>
		<th>Email_id></th>
		<th>Contact_no</th>
    </tr>
    <% @studentinfo.each do |studentinfo| %>
      <tr> 
	    <td>  <%= studentinfo.name %></td>
      <td>  <%= studentinfo.father_name %></td>
      <td>  <%= studentinfo.sex %></td>
      <td>  <%= studentinfo.address %></td>
      <td>  <%= studentinfo.email_id %></td>
      <td>  <%= studentinfo.contact_no %></td>
      <td><%= link_to 'Show', student_information_path(studentinfo.id) %></td>
      <td><%= link_to 'Edit', edit_student_information_path(studentinfo.id) %></td>
      <td><%= link_to 'destroy',student_information_path(studentinfo.id), method: 'delete', 
                      data: { confirm: 'Are you sure want to delete the student data?' }%>
      </td>
      </tr>
    <% end %>
</table>