<center><h1><u>Student Informations</u></h1>
<%= form_for @studentinfo , url: student_informations_path do |f| %>
<%= render :partial => 'form', locals: {:f => f} %>


<% end %>
<p>
  <%=link_to 'View all' ,student_informations_path %>
</p>

<p>
  <%=link_to 'Search Student details' ,search_result_path %>
</p>
</center>