<%= form_tag search_result_path do %>
      <h1>Enter the name of Students</h1>
	  <p> 
		<p> <%= label_tag :name %> 
			<%= text_field_tag :name %>
	  </p>
      <h2> <%= submit_tag :SUBMIT %> </h2>
    <% end %>

    <% if @studentinfo.present? %> 
    <table>
    <tr>
    	<td>  <%= @studentinfo.name %></td>
        <td>  <%= @studentinfo.father_name %></td>
        <td>  <%= @studentinfo.sex %></td>
        <td>  <%= @studentinfo.address %></td>
        <td>  <%= @studentinfo.email_id %></td>
        <td>  <%= @studentinfo.contact_no %></td>
    </tr>
  
</table>
<% end %>