<h1>Data saved successfully</h1>

<h1> The Details of all the students is as follows</h1>
<p>
  <strong>Name:</strong>
  <%= @studentinfo.name %>
</p>
 
<p>
  <strong>Father's Name:</strong>
  <%= @studentinfo.father_name %>
</p>
<p>
  <strong>Sex:</strong>
  <%= @studentinfo.sex %>
</p>
<p>
  <strong>Address:</strong>
  <%= @studentinfo.address %>
</p>
<p>
  <strong>Email_id:</strong>
  <%= @studentinfo.email_id %>
</p>
<p>
  <strong>Contact_no:</strong> 
  <%= @studentinfo.contact_no %>
</p>
<p>
  <%=link_to 'View all' ,'/student_informations' %>
</p>
<p>
<%= link_to 'Back' ,'/student_informations/new' %>
</p>